<div class="pure-u-1 pure-u-sm-1 pure-u-md-3-5 pure-u-lg-1-2">
  <nav>
    <!-- Conditionally render login or logout links -->
    <!-- {{#if logged_in}}
    <button class="no-button" id="logout">logout</button>
    {{else}} -->
    <a href="/login">login</a>
    <!-- {{/if}} -->
    <a href="/profile">profile</a>
    <a href="/friends">friends</a>
    <a href="/search">search</a>
  </nav>
</div>