    <ul>
      <li>{{ name }}</li>
      <li>{{ username }}</li>
      <li>{{ email }}</li>
      <li>test</li>
      
      <!--
      <li>xxx Photos Taken</li>
      <li>yyy Restaurants Visited</li>
      --> 

    </ul>
