<div class="foodCard pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-3">

    <p>[We are now in the partials file.]</p>

    <img src="./assets/images/splash02.jpg" alt="test"><br />
    <span id="">test</span>

    <img src="{{ photo.url }}" alt="{{ photo.id }}"><br>
    {{ photo.review }}

</div>
