    <ul>
      <li>{{ User.name }}</li>
      <li>{{ User.username }}</li>
      <li>{{ User.email }}</li>
      {{!--
      <li>xxx Photos Taken</li>
      <li>yyy Restaurants Visited</li>
      --}}
    </ul>
