<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>snackChat - Talk about it. Eat about it.</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="test flex-column justify-space-around">

    <header>

      <h1 class="test"><span style="color:darkorange;">snack</span>Chat</h1>&nbsp;
      <p id="tagline">Talk about it. Eat about it.</p>

        <nav>
          <!-- Conditionally render login or logout links -->
          <!-- {{#if logged_in}}
          <button class="no-button" id="logout">logout</button>
          {{else}} -->
          <a href="/login">login</a>
          <!-- {{/if}} -->
          <a href="/profile">profile</a>
          <a href="/login">friends</a>
          <a href="/login">search</a>
        </nav>

    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="footerText">snackChat &copy;2021.</div>
    </footer>

  </div>

</body>

</html>
