<div class="mainBox" id="splashPage">

  <div class="leftCard">

    <h2>Welcome to snackChat!</h2>

    <p>Please log in.</p>
    
    <form>
      <input type="text" name="username" placeholder="User Name"></input><br />
      <input type="password" name="password" placeholder="Password"></input><br />
      <button id="loginButton">let's eat!</button>
    </form>

  </div>

  <div class="rightCard">
    <img src="" alt="splash image of food">
  </div>

</div>