<div class="sectionBox" id="splashPage">

  <div class="mainCard">

    <h2>Welcome to snackChat!</h2>

    <p>Please log in.</p>
    
    <form>
      <input type="text" name="username" placeholder="User Name"></input><br />
      <input type="password" name="password" placeholder="Password"></input><br />
      <button id="submitButton">let's go!</button>
    </form>

  </div>

  <div class="contentCard">
    <img src="" alt="image of food">
  </div>
</div>