<h2>Login</h2>
<form id= "loginInformation">
    <input type="text" id="userNameLogin" placeholder="Username">
    <input type="password" id="passwordLogin" placeholder="password">
    <button>Login</button>
</form>
<h2>Sign up</h2>
<form id= "signUpInformation">
    <input type="text" id="signUpName" placeholder="name">
    <input type="text" id="signUpUserName" placeholder="username">
    <input type="text" id="signUpEmail" placeholder="email">
    <input type="password" id="signUpPassword" placeholder="password">
    <button>Sign Up</button>
</form>

<script src="./assets/js/login.js"></script>