<div class="mainBox pure-g">

  <div class="leftBox pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">

    <div class="leftCard">

      <h2>Search</h2>

      <p>Enter your search term.</p>
      
      <form id="searchForm">
        <input type="radio" class="radioStyle" id="foodSearch" name="searchType" value="food" placeholder="user">food<br>
        <input type="radio" class="radioStyle" id="restaurantSearch" name="searchType" value="restaurant" placeholder="restaurant">restaurant
        <input type="text" id="searchTerm">
        <button id="searchButton" value=>search!</button>
      </form>

    </div>

  </div>

  <div class="rightBox pure-u-1 pure-u-sm-1-2 pure-u-md-2-3 pure-u-lg-4-5">

      <div class="rightCard pure-g">
        
        <img id="splashImage" src="" alt="randomized splash image of food">
      
      </div>

  </div>



<div id="photosDiv"></div>

</div>

<script src="./assets/js/splashImage.js"></script>
<script src="/js/searchForm.js"></script>
