<div class="mainBox" id="splashPage">

  <div class="leftCard">

    <h2>Search</h2>

    <p>Enter your search term.</p>
    
    <form>
      <input type="radio" id="food" name="searchType" value="food" placeholder="food">food<br>
      <input type="radio" id="restaurant" name="searchType" value="restaurant" placeholder="restaurant">restaurant
      <input type="text" id="searchTerm">
      <button id="searchButton">search!</button>
    </form>

  </div>

  <div class="rightCard">
    <img src="" alt="randomized splash image of food">
  </div>

</div>