:root {
    --primary: lightgrey;
    --secondary: red;
    --tertiary: blue;
    --light: #ebebeb;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: white;

  }

  header {
    padding: 10px;
    background-color: #333;
    border-bottom: 10px solid lightgrey;
  }

  footer {
    padding: 10px;
    background-color: #333;
    border-top: 10px solid lightgrey;
  }
  
.footerText {
  color: white;
  text-align: center;
  font-size: small;
}

#newPhoto {
  float:right;
}

header h1 {
  display: inline;
  color: white;
  letter-spacing: -1px;
}

#tagline {
  display: inline;
  color: white;
  letter-spacing: 1px;
  font-style: italic;
}

nav {
    display: flex;
    float: right;
    padding: 5px;
  }

nav a {
    padding: 3px 5px;
    margin: 2px 5px;
    width: 80px;
    border: 1px solid grey;
    border-radius: 5px;
    text-decoration:none;
    opacity: 80%;
    background-color: lightgrey;
    text-align:center;
  }

  nav a:hover {
    text-decoration: none;
    opacity:100%;
  }

  button {
    padding: 3px 5px;
    margin: 2px 5px;
    width: 80px;
    border: 1px solid grey;
    border-radius: 5px;
    otext-decoration:none;
    opacity: 80%;
    background-color: lightgrey;
    text-align:center;
  }


  .sectionBox
  {
    margin: 5px;
    padding: 10px;
    border: 1px dotted grey;
    display: flex;
    
  }

  .mainCard {
    margin: 20px;
    flex: 0 1 300px;
    padding: 10px;
    min-height: 100%;
    min-width: 20%;
    border: 3px solid var(--primary);
    background-color: var(--light);
    color: var(--dark);
  }

  .contentCard {
    margin: 20px;
    padding: 10px;

    min-height: 100%;
    width: 80%;
    border: 3px solid var(--primary);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: medium;
    background-color: var(--light);
    color: var(--dark);
  }

 