body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-color: white;
}

header {
  padding: 10px;
  background-color: #333;
  border-bottom: 5px solid darkorange;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

header h1 {
  padding-right: 5px;
  display: inline;
  color: white;
  letter-spacing: -3px;
  font-size: 40pt;
}

header a:hover {
  text-decoration: none;
}

#tagline {
  display: inline;
  color: white;
  letter-spacing: 1px;
  font-style: italic;
  white-space: nowrap;
}

nav {
  display: flex;
  float: right;
  padding: 5px;
}

button, nav a {
  padding: 3px 5px;
  margin: 2px 5px;
  width: 80px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration:none;
  color: white;
  background-color: #333;
  text-align:center;
}

button:hover, nav a:hover {
  color: white;
  background-color: darkorange;
  text-decoration: none;
}

footer {
  padding: 10px;
  background-color: #333;
  border-top: 5px solid darkorange;
}

.footerText {
  color: white;
  text-align: center;
  font-size: small;
}

#newPhoto, #newFriend {
  display:block;
  float:right;
}

input {
  width: 90%;
  margin: 0px 0px 5px 0px;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 2px 5px;
}

.radioStyle {
  width: 10px;
}

img {
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}

img:hover {
  border: 3px solid darkorange;
}

h2 {
  font-size: 26pt;
  letter-spacing: -1px;
  width: 100%;
}

.mainBox {
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.leftBox {
  background-color: white;
  color: #182c23;
}

.leftCard {
  margin: 10px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 0 1 300px;
  min-height: 100%;
  min-width: 20%;
  background-color: #eee;
}

.rightBox {
  background-color: white;
  color: #182c23;
}

.rightCard {
  padding: 10px;
  border-radius: 5px;
  align-content: flex-start;
}

.foodCard {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
  padding: 5px;
  min-height: 50%;
  border: 3px solid #ddd;
  border-radius: 5px;
  background-color:white;
  color: #182c23;
}

.foodCard img {
  width: 100%;
  margin-bottom: 5px;
}

#splashImage {
  width: 100%;
  height: 400px;
}

#splashImage:hover {
  border: 3px solid #ccc;
}

.splash {
  object-fit: cover;
  width: 50px;
  height: 100px;
}

.subHeader {
  margin: 10px 0px;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

.modal-window {
  position: fixed;
  background-color: rgba(200, 200, 200, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background-color: #333;
  border-top: 5px solid darkorange;
  border-bottom: 5px solid darkorange;
  color: white;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-window p {
  text-align: left;
  letter-spacing: normal;
}

.followButton {
  color: white
}

.followButton:visited {
  color: white
}

.searchSpan {
  text-decoration: none;
  color:black;
}